:root {
  --color-primario: #006994;
  --color-secundario: #F5F5DC;
  --color-fondo: #f2f2f2;
  --color-texto: #333333;
  --color-blanco: #ffffff;
  --color-negro: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  line-height: 1.8;
}

/* Menus */
nav ul {
  text-decoration: none;
}

nav ul li {
  display: inline;
}

.titular {
  color: var(--color-blanco);
  background-color: var(--color-primario);
  margin-top: 20px;
  padding: 10px;
  padding-left: 20px;
}

#intro {
  height: 100vh;
  background-size: cover !important;
}

.hero {
  background: url(../img/hero/apartament-vistes.jpg) no-repeat center;
}

.hero h1,
h2,
h3,
p {
  color: var(--color-texto);
}

.img-cover {
  width: 100%;
}

a.rounded-link {
  display: inline-block;
  color: #fff;
  background-color: var(--color-primario);
  text-decoration: none;
  border-radius: 2em;
  padding: 10px 50px;
  margin-top: 30px;
  font-size: 17px
}

a.rounded-link-light {
  display: inline-block;
  color: #fff;
  background-color: var(--color-primario);
  text-decoration: none;
  border-radius: 2em;
  padding: 10px 50px;
  margin-top: 30px;
  font-size: 17px
}

footer {
  background-color: var(--color-fondo);

  a:link,
  a:visited {
    color: var(--color-blanco);
  }
}

footer .copyright {
  color: var(--color-negro);
  background-color: var(--color-primario);

  a:link,
  a:visited {
    color: var(--color-negro);
  }
}

.container-fluid.bg-light,
footer {
  margin: 0;
  padding: 0;
}

.reservas-section {
  background-color: var(--color-fondo);
}

.propietarias {
  border-radius: 150px;
  border: 10px solid var(--color-primario);
}

/* Responsive iFrame */
.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 100px;
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* End Responsive iFrame */

.hero-text {
  background-color: rgba(255, 255, 255, .5);
}

.galeria-fotos {
  display: flex;
  justify-content: space-around;
  grid-auto-flow: row;
  flex-wrap: wrap;
}

.foto {
  max-width: 400px;
  min-width: 150px;
  padding: 10px;
}

.diferent-font {
  font-family: "Reenie Beanie", cursive;
  font-weight: 800;
  font-style: bold;
}

.botons {
  display: flex;
  justify-content: space-around;
  grid-auto-flow: row;
  flex-wrap: wrap;
}

blockquote.destacat {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  padding: 15px;
  border-left: 3px solid #ccc;
}

.llegenda {
  margin-left: 20px;
  justify-content: flex-start;
}

.color-square {
  border: var(--color-negro) 1px solid;
  height: 20px;
  width: 20px;
  background-color: #49619C;
}

.color-square-empty {
  border: var(--color-negro) 1px solid;
  height: 20px;
  width: 20px;
}

.reserva-minima {
  display: none;
}

.taula-preus th {
  font-weight: bold;
}

.num-registro {
  background-color: #f2f2f2;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  color: var(--color-negro);
}


/* Responsive Design */
@media screen and (min-width: 540px) {
  a.rounded-link {
    font-size: calc(.43478vw + 14.65217px)
  }
}

@media screen and (min-width: 1920px) {

  a.rounded-link,
  input.rounded-link {
    font-size: 23px
  }
}

@media screen and (max-width: 576px) {
  .noe-isa {
    text-align: center !important;
    padding: 0 20px 0 20px;
  }
}